
*{
  padding:0;
  margin:0;
}
body {
  width:100%;
  text-align: center;
}
h3 {
  line-height: 180px;
  color:white;
}

/*  --------------- */
/* --OVERLAY STYLING --*/
/*  --------------- */

/*  --------------- */
/* --HEADER SECTION --*/
/*  --------------- */
#header-section{
  width:100%;
  height:550px;
  background-image: url(../assets/backgrounds/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align:center;

}
.logo-image {
  line-height: 400px;
}
.mission-statement h1 {
  color:white;
  font-family: 'Raleway', sans-serif;
}

/*  --------------- */
/* --MEALS SECTION --*/
/*  --------------- */
#meals-section {
  width:100%;
  margin-bottom: 30px;
  margin:0;
  /*background-color: green; */
}
#meals-section h2 {
  font-family: 'Poiret One', cursive;
  color:white;
}
#meals-section h3 {
  font-family: 'Tangerine', cursive;
  color:white;
  font-size:50px;
}
.happy-hour {
  height:50%;
  width:105%;
  background-color: #9a9292 ;
  padding: 30px 100px 20px 100px;;

}
.party-time {
  height:50%;
  width:105%;
  background-color:#F15A29 ;
  padding: 20px 1px;
}
#breakfast{
  background-image: url(../assets/foodtop/breakfast.jpg);
  /*padding-left:300px;*/
  width:100%;
}
#lunch {
background-image: url(../assets/foodtop/lunch.jpg)
}
#dinner {
  background-image: url(../assets/foodtop/dinner.jpg)
}

/*  --------------- */
/* --FOOD SECTION --*/
/*  --------------- */

#food {
  margin-top: 70px;
  margin-bottom:60px;
}
.fast-food {
  border: 15px solid transparent;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#food h2,
#drinks h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
#food p,
#drinks p {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}
.fast-food img {
  display:inline;
}
.gallery{
  padding-left:40px;
  padding-top:40px;
}
.gallery h2,
.gallery p {
  text-align:left;
}
#food button,
#drinks button {
  border:1px solid #F15A29;
  background-color: #fff;
  color:#F15A29;
  float:left;
}
#food button:hover {
  background-color:#F15A29;
  color:#fff;
}
.arrow {
  padding-left:8px;
  margin-top:8px;
  font-size:18px;
}

/*  --------------- */
/* --DRINKS SECTION --*/
/*  --------------- */
#drinks img {
  display:inline;
  margin:-3px;
}
.delicous-drinks h2,
.delicous-drinks p {
  text-align:right;
}
#drinks button {
  border:1px solid #F15A29;
  background-color: #fff;
  color:#F15A29;
  float:right;
}
#drinks button:hover {
  background-color:#F15A29;
  color:#fff;
}

/*  --------------- */
/* --FOOD-CAROUSEL SECTION --*/
/*  --------------- */
#food-carousel {
  background-image: url(../assets/backgrounds/foodsBg.jpg);
  width:100%;
  height:500px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align:center;
  margin-top:30px;
  padding-top:6px;
}
.food-list {
  background-color: grey;
  height:100px;
  line-height: 100px;
}

/*  --------------- */
/* --CUSTOMER SECTION --*/
/*  --------------- */
#customers {
  margin-top:40px;
}
#customers h2 {
  color:#F15A29;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-weight: 600;
}
#customers p{
  font-family: 'Raleway', sans-serif;
}

.happy-customer-profile{
  padding:20px;
}
.angle-arrows {
  color:#F15A29;
  font-size:25px;
}


/*  --------------- */
/* --EMAIL-SUBSCRIPTION SECTION --*/
/*  --------------- */
#subscription {
  margin-top: 60px;
  background-image: url(../assets/backgrounds/subscribe.jpg);
  height:240px;
  color:white;
  line-height: 100px;
  padding-top:30px;
}
.email-input {
  margin :auto;
}
.email-capture {
  width:850px;
}
#subscription p{
  font-family: 'Old Standard TT', serif;
  font-size:16px;
  font-weight: bolder;
}
#submit-button {
  background-color: #F15A29;
  paddig: 0 100px;
  color:white;

}
#submit-button,
.email-capture {
    margin-top:-40px;
}

/*  --------------- */
/* --FOOTER SECTION --*/
/*  --------------- */
#footer-section {
  background-color: #F15A29;
  height:200px;
  padding-top:20px;
  color:white;
}
.logo-white {
  margin:0;
  display:inline;
}
#footer-section h2 {
  color:#fff;
}
